@import "tailwindcss";


:root {
  color-scheme: dark;
  --primary: #f20d0d;
  --background-light: #0a0a0a;
  --background-dark: #0a0a0a;
  --card-dark: #1a1a1a;
  --border-dark: #333333;
}


.glass-nav {
  background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}


body {
  font-family: 'Space Grotesk', sans-serif;
}

.form-input:focus {
border-color: #f20d0d !important;
box-shadow: 0 0 0 1px #f20d0d !important;
}

.monochrome-img {
  filter: grayscale(100%) contrast(110%);
}
.monochrome-img:hover {
  filter: grayscale(0%) contrast(100%);
  transition: all 0.5s ease;
}
.timeline-line {
  background: linear-gradient(180deg, #f20d0d 0%, #341818 100%);
}