@import "tailwindcss";


:root {
  --primary: #f20d0d;
  --background-light: #f8f5f5;
  --background-dark: #0a0a0a;
  --card-dark: #1a1a1a;
  --border-dark: #333333;
}


.glass-nav {
  background: rgba(10, 10, 10, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}


body {
  font-family: 'Space Grotesk', sans-serif;
}

.form-input:focus {
border-color: #f20d0d !important;
box-shadow: 0 0 0 1px #f20d0d !important;
}